* {
  margin: 0;
  padding: 0;
}
:root{
  --goden:rgb(166, 124, 0);
  --lightgrey:#D3D3D3;
}
body {
  background-color: #d5f3fe;
  overflow-x: hidden;
}
.header {
  position: relative;
  left: 560px;
  top: 50px;
  font-size: 34px;
}
.blank{
  background-color: pink;
  height: 3px;
  position: relative;
  width: 60px;
  left: 590px;
  top: 60px;

}
.left-side-menu{
  position: relative;
  width: 480px;
  height: 650px;
  top: 130px;
  left: 100px;
}
.right-side-menu{
  position: relative;
  bottom: 525px;
  left: 680px;
}
.buttermilk-pancake,.godzilla-milkshake,.egg-attack,.bacon-overflow,.diner-double,.country-delight,.oreo-dream,.american-classic{
  display: flex;
  gap: 9px;
}
button {
  cursor: pointer;
  border: 1.5px solid rgb(166, 124, 0);
  border-radius: 5px;
}
.divider{
  height: 1.5px;
  background-color: #D3D3D3;
  width: 275px;
  position: relative;
  top: 2px;
}
.buttonBtn {
  position: relative;
  top: 79px;
  left: 470px;
  gap: 10px;
}
span {
  padding-left: 10px;
}
.btn-all,
.btn-breakfast,
.btn-lunch,
.btn-shakes,
.btn-dinner {
  padding: 3px;
  color: rgb(166, 124, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #d5f3fe;
}
.pancake,.milkshake,.burgur,.bacon,.dinner,.omlet,.starbucks,.american-burgar{
  width: 180px;
  height: 130px;
  border-radius: 5px;
  border: 2px solid var(--goden);
}
.milkshake{
  object-fit: cover;
}
.name,.price{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 900;
}
.price{
  color: var(--goden);
}
.description{
  width: 275px;
  position: relative;
  top: 5px;
}
.menu{
  height: 100px;
}